.todo_item {
  min-height: 64px;
  width: calc(40vw + 74px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  font-size: calc(0.5rem + 0.7vw);
  padding: 20px;
  overflow-wrap: anywhere;

  cursor: pointer;

  .todo_item_icons_container {
    min-width: 50px;

    text-align: end;

    .todo_item_done_icon {
      fill: green;
    }

    .todo_item_done_icon_hide {
      display: none;
    }
  }
}
